<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <div class="mini-box">
    	<form action="/server/loginAction" class="signform" method="post">
    		<div class="sign-title"><span>Unoboy </span>后台管理</h2></div>
    		<div class="list">
    			<label for="name">Your Name: </label>
    			<input type="text" name="name" class="item" />
    		</div>
    		<div class="list">
    			<label for="password">Your password: </label>
    			<input type="text" name="password" class="item" />
    		</div>
            <button type="submit" class="sign-btn">登录</button>
    	</form>
    </div>
</body>
</html>